@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Section */
.nav {
    height: 10vh;
    background-color: #dbe9f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 2vw;
    border-bottom: #9e9e9e solid 0.5px;
}

.nav-logo {
    height: 50%;
    filter: brightness(0) saturate(100%) invert(11%) sepia(45%) saturate(0%) hue-rotate(146deg) brightness(101%) contrast(105%); /*#1c1c1c*/
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #1c1c1c;
    padding: 0 2vw;
    font-size: 14px;
    text-decoration: none;
    transition: ease 0.3s;
}

.nav-link:hover, .nav-link:focus {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav-link > i {
    padding-left: 0.5vw;
}

.nav-buttons {
   display: flex;
   align-items: center;
}

.nav-button {
    border: none;
    width: 6vw;
    margin: 0 1vw;
    padding: 1vh 0;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav-button.signup:hover, .nav-button.signup:focus {
    background-color: #1c1c1c;
    color: #f5f5f7;
}

.nav-button:hover, .nav-button:focus {
    background-color: #9e9e9e;
    color: #f5f5f7;
}

.signup {
    background-color: #30a1ff;
}

.nav-hamburger {
    font-size: 22px;
    display: none;
}

/* Hero Section */

.hero {
    height: 90vh;
    background-color: #dbe9f5; /*#30a1ff;*/
    display: flex;
}

.hero-text {
    width: 55%;
    height: 90vh;
    padding-top: 10vh;
    padding-left: 10vw;
    color: #1c1c1c;
}

.hero-illus {
    height: 90vh;
    width: 45%;
    background-image: url(./assets/illustration-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hero-benefit {
    font-size: 24px;
    letter-spacing: 0.25rem;
    padding-bottom: 2vh;
    color: #30a1ff;
}

.hero-headline {
    font-weight: 800;
    font-size: 64px;
    padding-bottom: 3vh;
}

.hero-desc {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 3vh;
}

.hero-button {
    border: none;
    width: 20vw;
    padding: 2vh 0.5vw;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 700;
    color: #1c1c1c;
    background-color: #30a1ff;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
    background-color: #1c1c1c;
    color: #f5f5f7;
}

.hero-button > i {
    padding-right: 1vw;
}

/* Live Crypto Price */

.crypto {
    height: 120vh;
    background-color: #f5f5f7;
    color: #1c1c1c;
}

.crypto-text {
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.crypto-title {
    font-size: 40px;
    padding-top: 5vh;
}

.crypto-desc {
    padding-top: 2vh;
}

.crypto-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.coin {
    background: rgba( 48, 161, 255, 0.2 );
    border-radius: 20px;
    width: 20vw;
    height: 40vh;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.coin-logo {
    height: 20vh;
    padding-top: 5vh;
}

.coin-logo > img {
    height: 80%;
    transition: ease-in-out 0.3s;
}

.coin-name {
    text-transform: uppercase;
    text-align: center;
}

.coin-name > h3 {
    font-size: 34px;
}

.coin-name > span {
    margin-top: 18px;
}

.coin-price {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.coin:hover {
    cursor: pointer;
}

.coin:hover > .coin-logo > img {
    opacity: 50%;
}

.coin:hover.falling {
    color: #ad2a2a;
    background-color: #ca7a7a;
}

.coin.falling > .coin-price > .fa-arrow-trend-up {
    display: none;
}

.coin:hover.rising {
    color: #117a0b;
    background-color: #a1c09f;
}

.coin.rising > .coin-price > .fa-arrow-trend-down {
    display: none;
}

/* About Section */

.about {
    background-color: #f5f5f7;
    height: 100vh;
    color: #1c1c1c;
}

.about-text {
    padding-top: 12vh;
    padding-left: 10vw;
}

.about-title {
    font-size: 36px;
    padding-bottom: 1vh;
}

.about-sub {
    font-size: 18px;
    padding-bottom: 1vh;
}

.about-details {
    display: flex;
}

.about-detail-container {
    width: 60%;
}

.about-detail {
    padding: 4vh 0;
    display: flex;
}

.about-icon {
    font-size: 48px;
    text-align: center;
    padding-right: 6vw;
    width: 60px;
    color: #30a1ff;
}

.about-illus-container {
    width: 40%;
    text-align: center;
    overflow-x: hidden;
}

.about-illus {
    width: 120%;
    overflow-x: hidden;
}

/* Final Section */

.final {
    text-align: center;
    height: 60vh;
    padding-top: 10vh;
    background-color: #eaeaea;
    color: #1c1c1c;
}

.final-header {
    font-size: 40px;
}

.final-desc {
    font-size: 18px;
    padding-bottom: 8vh;
}

.final-platforms {
    display: flex;
    justify-content: center;
}

.final-platform {
    padding: 0 4vw;
}

.final-platform:hover > i {
    color: #30a1ff;
    cursor: pointer;
}

.final-platform:hover > .final-brand {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.final-platform > i {
    font-size: 64px;
    padding-bottom: 3vh;
    transition: ease 0.3s;
}

.final-brand {
    font-size: 16px;
    font-weight: 500;
    transition: ease 0.3s;
}

/* Footer Section */

.footer {
    background-color: #f5f5f7;
    height: 40vh;
    text-align: center;
    padding-top: 10vh;
}

.footer-header {
    font-size: 36px;
}

.footer-links {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 5vh;
    align-items: center;
}

.footer-link {
    padding: 0 2vw;
    font-size: 20px;
    transition: ease-in 0.3s;
}

.footer-link:hover {
    cursor: pointer;
    color: #30a1ff;
}

/* Media Queries */

@media only screen and (max-width: 1100px) {
    .login {
        display: none;
    }

    .nav-button {
        width: 13vw
    }

    .nav-links {
        display: none;
    }

    .nav-hamburger {
        display: block;
        padding-left: 1vw;
    }

    .hero-text {
        width: 70%;
    }

    .hero-illus {
        width: 30%;
    }

    .coin {
        width: 30vw;
        height: 40vh;
    }

    .crypto-container {
        height: 90vh;
    }
    
    .about {
        height: 120vh;
        text-align: center;
    }

    .about-text {
        padding-top: 5vh;
        padding-left: 0;
    }

    .about-details {
        flex-direction: column-reverse;
    }

    .about-detail-container {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 5vw;
    }

    .about-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
    }

    .about-illus-container {
        width: 100%;
        padding-left: -10vw;
    }

    .about-illus {
        width: 80%;
    }

    .about-icon {
        padding-right: 0;
    }

    .final {
        height: 40vh;
    }

    .footer {
        height: 30vh;
    }

    .footer-link {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {

    .nav {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .nav-hamburger {
        padding-left: 4vw;
    }

    .signup {
        width: 30vw;
    }

    .hero-illus {
        display: none;
    }

    .hero-text {
        width: 100%;
    }

    .hero-benefit {
        font-size: 12px;
    }

    .hero-headline {
        font-size: 48px;
    }

    .hero-desc {
        font-size: 16px;
    }

    .hero-button {
        width: 50vw;
    }

    .crypto-text {
        text-align: center;
    }

    .coin {
        width: 90vw;
        height: 40vh;
    }

    .crypto-container {
        display: grid;
        height: 300vh;
        grid-template-columns: 1fr;
        padding-top: 5vh;
    }

    .crypto {
        height: 320vh;
        padding-top: 10vh;
    }

    .about-illus {
        display: none;
    }

    .about {
        height: 150vh;
        padding-top: 10vh;
    }

    .about-name {
        font-size: 24px;
    }

    .about-details {
        font-size: 14px;
    }

    .about-detail-container {
        padding-top: 5vh;
    }
    
    .about-detail {
        padding-bottom: 5vh
    }

    .final {
        height: 70vh;
    }

    .footer {
        height: 50vh;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}